.container{
    border: 5px solid #ac0b0b;
    width: 60%;
    margin: 20px auto;
    font-size: 20pt;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

ul{
    list-style-type: none;
}

.body{
    height: 800px;
}

.jobDesc{
    background-color: rgb(93, 92, 92);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.jobDesc h2{
    color: rgb(189, 189, 189)
}

.jobDesc p{
    font-size: 20px;
}