.container{
    display: flex;
    justify-content: center;
    border: 5px solid #ac0b0b;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
}
  
  .example-card-footer {
    padding: 16px;
  }

  .example-card-content{
    font-size: 20pt;
  }

  .body{
    height: 800px;
  }

