<div class="container">
  <h1>About</h1>
  <p>
    I am a 21 year old South African. I am an avid sportsman who loves coding
    and social events I am a hard working extrovert with a passion for
    technology and innovation. I am a team player. I am a fast learner and I am
    always willing to learn new things. My core values are honesty, integrity
    and loyalty.
  </p>
  <h2>Technological expertise</h2>
  <ul>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>React Native</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Angular</li>
    <li>R</li>
    <li>Excel</li>
  </ul>
</div>
