.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#heading{
    text-align: center;
}

#image{
    width: 40%;
    margin: 0 auto;
}

p {
    text-align: center;
    border: 5px solid #ac0b0b;
    padding: 5px;
    width: 60%;
    margin: 20px auto;
    font-size: 20pt;
    border-radius: 10px;
}